<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div>{{ form.username }}
<!--            <div class="form-error" >{{ form.username.errors }}</div>-->
        </div>
        <div>{{ form.password1 }}
<!--            <div class="form-error" >{{ form.password1.errors }}</div>-->
        </div>
        <div>{{ form.password2 }}
            <div class="form-error" >{{ form.password2.errors }}</div>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
